<div id="move-area">
    <div class="player">Player 1 [X]: <span id="player0"></span></div>
    <div class="player">Player 2 [O]: <span id="player1"></span></div>
    <div id="move-status" class="move">
        <div class="waiting">Waiting for <span id="next-move"></span></div>
        <div class="your-move">Your Move!</div>
    </div>
</div>
<div id="result" class="hidden">
    <div id = "winner-declaration" class="winner hidden">
        <span id = "winner"></span> Wins!!!
    </div>
    <div id="draw">We'll call it a Draw!!!</div>
</div>