<div id="sign-in">
    <form>
        <label for="player_name">Player Name:</label><br/>
        <input type="text" id="player_name" name="player_name" value="Danno"><br/>
        <input type="button" value="Join" onclick="javascript:connect()">
    </form>
</div>