<div id="game-area" class="game-area">
<table>
    <tr class="top">
        <td id="square00" onclick="javascript:move(0, 0)" class="left"></td>
        <td id="square01" onclick="javascript:move(0, 1)" class="middle"></td>
        <td id="square02" onclick="javascript:move(0, 2)" class="right"></td></tr>
    <tr class="middle">
        <td id="square10" onclick="javascript:move(1, 0)" class="left"></td>
        <td id="square11" onclick="javascript:move(1, 1)" class="middle"></td>
        <td id="square12" onclick="javascript:move(1, 2)" class="right"></td></tr>
    <tr class="bottom">
        <td id="square20" onclick="javascript:move(2, 0)" class="left"></td>
        <td id="square21" onclick="javascript:move(2, 1)" class="middle"></td>
        <td id="square22" onclick="javascript:move(2, 2)" class="right"></td>
    </tr>
</table>
    
</div>